In [140]:
import numpy as np
import pandas as pd 
import json
from datetime import datetime
import re
import csv
from pandas import ExcelWriter

In [5]:

fileObject = open("task_input_list.json", "r")
jsonContent = fileObject.read()
df = json.loads(jsonContent)

In [13]:
df2=[]
expr = '^(?!$).-*[0-9,]*\.[0-9]+'
for x in range(0,len(df)):
    match = re.search(expr,df[x])
    # print(match)
    if match != None:
        # print(df[x-1])
        if "other" not in df[x-1].lower():
            # print(df[x])

            df2.append(match.group(0))

In [16]:
for i in range(0,len(df)):
    if df[i]=="Deposits and other additions":
        x=i
    if df[i]=="Total other subtractions":
        y=i
print(x,y)
data=df[x:y]
print(data)

74 130
['Deposits and other additions', 'Date', 'Description', 'Amount', '12/03/18', 'Counter Credit', '8,075.00', '12/10/18', 'Counter Credit', '9,970.00', '12/21/18', 'PAYPAL', 'DES:TRANSFER ID:1004561753452 INDN:', 'CO', '1,000.00', '12/24/18', 'Counter Credit', '8,405.00', 'Total deposits and other additions', '$27,450.00', 'Withdrawals and other subtractions', 'Other subtractions', 'Date', 'Description', 'Amount', '11/30/18', 'Automatic Transfer to SAV 2084 Confirmation# 1313790286', '-25.00', '12/03/18', 'Online Banking payment to CRD 8610 Confirmation# 0485104765', '-200.00', '12/04/18', 'Customer Withdrawal Image', '-12,000.00', '12/07/18', 'TRANSFER ', '-3,695.00', '12/11/18', 'CARFAX', 'DES:BT1210 ID:000000071591462 INDN:', 'CO ID:1251465303', '-399.98', '12/13/18', 'TRANSFER  :J Cars Confirmation# 0472167145', '-3,955.00', '12/19/18', 'TRANSFER  :J Cars Confirmation# 0423610629', '-13,990.00', '12/20/18', 'SOUTHWEST GAS DES:WEB', 'ID:1410023972050 INDN:JOHNSON', 'CO', '-28.25', '12/21/18', 'TRANSFER  :J Cars Confirmation# 1642822709', '-16,630.00']

In [25]:

x=(data.index('Withdrawals and other subtractions'))
deposit=data[:x]
withdraw=data[x:]
print(deposit,withdraw)

['Deposits and other additions', 'Date', 'Description', 'Amount', '12/03/18', 'Counter Credit', '8,075.00', '12/10/18', 'Counter Credit', '9,970.00', '12/21/18', 'PAYPAL', 'DES:TRANSFER ID:1004561753452 INDN:', 'CO', '1,000.00', '12/24/18', 'Counter Credit', '8,405.00', 'Total deposits and other additions', '$27,450.00'] ['Withdrawals and other subtractions', 'Other subtractions', 'Date', 'Description', 'Amount', '11/30/18', 'Automatic Transfer to SAV 2084 Confirmation# 1313790286', '-25.00', '12/03/18', 'Online Banking payment to CRD 8610 Confirmation# 0485104765', '-200.00', '12/04/18', 'Customer Withdrawal Image', '-12,000.00', '12/07/18', 'TRANSFER ', '-3,695.00', '12/11/18', 'CARFAX', 'DES:BT1210 ID:000000071591462 INDN:', 'CO ID:1251465303', '-399.98', '12/13/18', 'TRANSFER  :J Cars Confirmation# 0472167145', '-3,955.00', '12/19/18', 'TRANSFER  :J Cars Confirmation# 0423610629', '-13,990.00', '12/20/18', 'SOUTHWEST GAS DES:WEB', 'ID:1410023972050 INDN:JOHNSON', 'CO', '-28.25', '12/21/18', 'TRANSFER  :J Cars Confirmation# 1642822709', '-16,630.00']

In [86]:
ds = ' '.join(deposit)
ws = ' '.join(withdraw)
d_dates = re.findall(r'\d{2}/\d{2}/\d{2}',ds)
w_dates=re.findall(r'\d{2}/\d{2}/\d{2}',ws)
print(d_dates,w_dates)

['12/03/18', '12/10/18', '12/21/18', '12/24/18'] ['11/30/18', '12/03/18', '12/04/18', '12/07/18', '12/11/18', '12/13/18', '12/19/18', '12/20/18', '12/21/18']

In [75]:
d_amount=[]
w_amount=[]
expr = '^(?![$]).-*[0-9,]*\.[0-9]+'
for x in range(0,len(deposit)):
    match = re.search(expr,deposit[x])
    # print(match)
    if match != None:

        d_amount.append(match.group(0))
for x in range(0,len(withdraw)):
    match = re.search(expr,withdraw[x])
    # print(match)
    if match != None:

        w_amount.append(match.group(0))
print(d_amount,w_amount)

['8,075.00', '9,970.00', '1,000.00', '8,405.00'] ['-25.00', '-200.00', '-12,000.00', '-3,695.00', '-399.98', '-3,955.00', '-13,990.00', '-28.25', '-16,630.00']

In [76]:
d_desc=[]
w_desc=[]
for x in range(0,len(d_dates)):
    start_string = d_dates[x]
    end_string = d_amount[x]
    result_string = ds.split(start_string)[1].split(end_string)[0]
    d_desc.append(result_string)
for x in range(0,len(w_dates)):
    start_string = w_dates[x]
    end_string = w_amount[x]
    result_string = ws.split(start_string)[1].split(end_string)[0]
    w_desc.append(result_string)

print(d_desc)
print(w_desc)

[' Counter Credit ', ' Counter Credit ', ' PAYPAL DES:TRANSFER ID:1004561753452 INDN: CO ', ' Counter Credit ']
[' Automatic Transfer to SAV 2084 Confirmation# 1313790286 ', ' Online Banking payment to CRD 8610 Confirmation# 0485104765 ', ' Customer Withdrawal Image ', ' TRANSFER  ', ' CARFAX DES:BT1210 ID:000000071591462 INDN: CO ID:1251465303 ', ' TRANSFER  :J Cars Confirmation# 0472167145 ', ' TRANSFER  :J Cars Confirmation# 0423610629 ', ' SOUTHWEST GAS DES:WEB ID:1410023972050 INDN:JOHNSON CO ', ' TRANSFER  :J Cars Confirmation# 1642822709 ']

In [51]:
deposit_amount=[float(item.replace(',','')) for item in d_amount]
withdraw_amount=[float(item.replace(',','')) for item in w_amount]

In [83]:
dep_f=pd.DataFrame(columns=['date','description','amount'])
with_f=pd.DataFrame(columns=['date','description','amount'])
w_dates=[datetime.strptime(item,"%m/%d/%y") for item in w_dates]
d_dates=[datetime.strptime(item,"%m/%d/%y") for item in w_dates]

TypeError: strptime() argument 1 must be str, not datetime.datetime

In [84]:


dep_f['date']=d_dates
dep_f['description']=d_desc
dep_f['amount']=deposit_amount

with_f['date']=w_dates
with_f['description']=w_desc
with_f['amount']=withdraw_amount
with_f

        date                                        description    amount
0 2018-11-30   Automatic Transfer to SAV 2084 Confirmation# ...    -25.00
1 2018-12-03   Online Banking payment to CRD 8610 Confirmati...   -200.00
2 2018-12-04                         Customer Withdrawal Image  -12000.00
3 2018-12-07                                         TRANSFER    -3695.00
4 2018-12-11   CARFAX DES:BT1210 ID:000000071591462 INDN: CO...   -399.98
5 2018-12-13        TRANSFER  :J Cars Confirmation# 0472167145   -3955.00
6 2018-12-19        TRANSFER  :J Cars Confirmation# 0423610629  -13990.00
7 2018-12-20   SOUTHWEST GAS DES:WEB ID:1410023972050 INDN:J...    -28.25
8 2018-12-21        TRANSFER  :J Cars Confirmation# 1642822709  -16630.00

In [85]:
dep_f['day'] = dep_f['date'].dt.day
dep_f['month'] = dep_f['date'].dt.month
dep_f['year'] = dep_f['date'].dt.year
dep_f

with_f['day'] = with_f['date'].dt.day
with_f['month'] = with_f['date'].dt.month
with_f['year'] = with_f['date'].dt.year
with_f

,date,description,amount,day,month,year
0,2018-11-30,Automatic Transfer to SAV 2084 Confirmation# ...,-25.00,30,11,2018
1,2018-12-03,Online Banking payment to CRD 8610 Confirmati...,-200.00,3,12,2018
2,2018-12-04,Customer Withdrawal Image,-12000.00,4,12,2018
3,2018-12-07,TRANSFER,-3695.00,7,12,2018
4,2018-12-11,CARFAX DES:BT1210 ID:000000071591462 INDN: CO...,-399.98,11,12,2018
5,2018-12-13,TRANSFER :J Cars Confirmation# 0472167145,-3955.00,13,12,2018
6,2018-12-19,TRANSFER :J Cars Confirmation# 0423610629,-13990.00,19,12,2018
7,2018-12-20,SOUTHWEST GAS DES:WEB ID:1410023972050 INDN:J...,-28.25,20,12,2018
8,2018-12-21,TRANSFER :J Cars Confirmation# 1642822709,-16630.00,21,12,2018

In [87]:
with_f['date']=w_dates
dep_f['date']=d_dates

In [179]:
insights={}
insights["max amount"]= max(deposit_amount)
insights["min amount"]=min(withdraw_amount)
insights

{'max amount': 9970.0, 'min amount': -16630.0}

In [188]:
from urlextract import URLExtract
s = ' '.join(df)
extractor = URLExtract()
urls = extractor.find_urls(s)
phone=[]

phone=re.findall(r'[\+\(]?[1-9][0-9 .\-\(\)]{8,}[0-9]', s)
phone=phone[:3]
emails = re.findall(r'[\w\.-]+@[\w\.-]+', s)
print(urls,emails)
insights["website"]=','.join(urls)
insights["email"]=','.join(emails)
insights["phone"]=','.join(phone)

['bankingservices.com', 'bankingservices.com/MyRewards'] []

In [190]:
insights_f = pd.DataFrame()
c1= list(insights.keys())
c2= list(insights.values())
insights_f["keys"]=c1
insights_f["value"]=c2
insights_f

         keys                                              value
0  max amount                                               9970
1  min amount                                             -16630
2     website  bankingservices.com,bankingservices.com/MyRewards
3       email
4       phone       (555) 555-1234,(800) 555-1234,1-800-555-1234

In [191]:

writer = pd.ExcelWriter('result.xlsx')

dep_f.to_excel(writer,index=False,sheet_name="DEPOSIT")
with_f.to_excel(writer,index=False,sheet_name="WITHDRAWAL")
insights_f.to_excel(writer,index=False,sheet_name="INSIGHTS")

writer.save()

insights